<div id="js-sidebar" class="sidebar-shell">
  <div class="expand-collapse">
    <a href="#" class="js-expand-all">+ Expand All</a>
    <a href="#" class="js-collapse-all hide">- Collapse All</a>
  </div>
  <div class="js-toggle-list sidebar-module expandable">
    <ul>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/millennium/r4/">R4 Overview</a></h3>
        <ul class="js-guides">
          <li><a href="/authorization/">Authorization</a></li>
          <li><a href="/millennium/r4/proprietary-codes-and-systems/">Proprietary Codes and Systems</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/millennium/r4/foundation/">Foundation</a></h3>
        <ul class="js-guides">
          <li class="subtopic"><a href="/millennium/r4/foundation/conformance/">Conformance</a></li>
          <li><a href="/millennium/r4/foundation/conformance/capability-statement/">CapabilityStatement</a></li>
          <li><a href="/millennium/r4/foundation/conformance/structure-definition/">StructureDefinition</a></li>
          <li><a href="/millennium/r4/foundation/conformance/operation-definition/">OperationDefinition</a></li>

          <li class="subtopic"><a href="/millennium/r4/foundation/security/">Security</a></li>
          <li><a href="/millennium/r4/foundation/security/provenance/">Provenance</a></li>
          <li><a href="/millennium/r4/foundation/security/consent/">Consent</a></li>

          <li class="subtopic"><a href="/millennium/r4/foundation/documents/">Documents</a></li>
          <li><a href="/millennium/r4/foundation/documents/document-reference/">DocumentReference</a></li>

          <li class="subtopic"><a href="/millennium/r4/foundation/other/">Other</a></li>
          <li><a href="/millennium/r4/foundation/other/binary/">Binary</a></li>
          <li><a href="/millennium/r4/foundation/other/health-cards/">HealthCards</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/millennium/r4/base/">Base</a></h3>
        <ul class="js-guides">
          <li class="subtopic"><a href="/millennium/r4/base/individuals/">Individuals</a></li>
          <li><a href="/millennium/r4/base/individuals/patient/">Patient</a></li>
          <li><a href="/millennium/r4/base/individuals/practitioner/">Practitioner</a></li>
          <li><a href="/millennium/r4/base/individuals/related-person/">RelatedPerson</a></li>
          <li><a href="/millennium/r4/base/individuals/person/">Person</a></li>

          <li class="subtopic"><a href="/millennium/r4/base/entities/">Entities</a></li>
          <li><a href="/millennium/r4/base/entities/organization/">Organization</a></li>
          <li><a href="/millennium/r4/base/entities/location/">Location</a></li>
          <li><a href="/millennium/r4/base/entities/device/">Device</a></li>

          <li class="subtopic"><a href="/millennium/r4/base/workflow/">Workflow</a></li>
          <li><a href="/millennium/r4/base/workflow/appointment/">Appointment</a></li>
          <li><a href="/millennium/r4/base/workflow/schedule/">Schedule</a></li>
          <li><a href="/millennium/r4/base/workflow/slot/">Slot</a></li>

          <li class="subtopic"><a href="/millennium/r4/base/management/">Management</a></li>
          <li><a href="/millennium/r4/base/management/encounter/">Encounter</a></li>
        </ul>
      </li>

      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/millennium/r4/clinical/">Clinical</a></h3>
        <ul class="js-guides">
          <li class="subtopic"><a href="/millennium/r4/clinical/summary/">Summary</a></li>
          <li><a href="/millennium/r4/clinical/summary/allergy-intolerance/">AllergyIntolerance</a></li>
          <li><a href="/millennium/r4/clinical/summary/condition/">Condition</a></li>
          <li><a href="/millennium/r4/clinical/summary/procedure/">Procedure</a></li>
          <li><a href="/millennium/r4/clinical/summary/family-member-history/">FamilyMemberHistory</a></li>

          <li class="subtopic"><a href="/millennium/r4/clinical/diagnostics/">Diagnostics</a></li>
          <li><a href="/millennium/r4/clinical/diagnostics/diagnostic-report/">DiagnosticReport</a></li>
          <li><a href="/millennium/r4/clinical/diagnostics/observation/">Observation</a></li>
          <li><a href="/millennium/r4/clinical/diagnostics/questionnaire-response/">QuestionnaireResponse</a></li>

          <li class="subtopic"><a href="/millennium/r4/clinical/medications/">Medications</a></li>
          <li><a href="/millennium/r4/clinical/medications/medication-administration/">MedicationAdministration</a></li>
          <li><a href="/millennium/r4/clinical/medications/medication-request/">MedicationRequest</a></li>
          <li><a href="/millennium/r4/clinical/medications/immunization/">Immunization</a></li>

          <li class="subtopic"><a href="/millennium/r4/clinical/care-provision/">Care Provision</a></li>
          <li><a href="/millennium/r4/clinical/care-provision/care-plan/">CarePlan</a></li>
          <li><a href="/millennium/r4/clinical/care-provision/care-team/">CareTeam</a></li>
          <li><a href="/millennium/r4/clinical/care-provision/goal/">Goal</a></li>
          <li><a href="/millennium/r4/clinical/care-provision/service-request/">ServiceRequest</a></li>
          <li><a href="/millennium/r4/clinical/care-provision/nutrition-order/">NutritionOrder</a></li>

          <li class="subtopic"><a href="/millennium/r4/clinical/request-and-response/">Request & Response</a></li>
          <li><a href="/millennium/r4/clinical/request-and-response/communication/">Communication</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/millennium/r4/financial/">Financial</a></h3>
        <ul class="js-guides">
          <li class="subtopic"><a href="/millennium/r4/financial/support/">Support</a></li>
          <li><a href="/millennium/r4/financial/support/coverage/">Coverage</a></li>

          <li class="subtopic"><a href="/millennium/r4/financial/general/">General</a></li>
          <li><a href="/millennium/r4/financial/general/account/">Account</a></li>
          <li><a href="/millennium/r4/financial/general/charge-item/">ChargeItem</a></li>
          <li><a href="/millennium/r4/financial/general/financial-transaction/">FinancialTransaction</a></li>
          <li><a href="/millennium/r4/financial/general/insurance-plan/">InsurancePlan</a></li>
        </ul>
      </li>

      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/millennium/r4/specialized/">Specialized</a></h3>
        <ul class="js-guides">
          <li class="subtopic"><a href="/millennium/r4/specialized/definitional-artifacts/">Definitional Artifacts</a></li>
          <li><a href="/millennium/r4/specialized/definitional-artifacts/questionnaire/">Questionnaire</a></li>
        </ul>
      </li>
    </ul>
  </div> <!-- /sidebar-module -->
  <div class="sidebar-module notice">
    <p>This website is a <a href="https://github.com/cerner/fhir.cerner.com" target="_blank">public GitHub repository</a>. Please help us by forking the project and adding to it.</p>
  </div>
</div><!-- /sidebar-shell -->
