<div class="wrapper feature">
    <h1>
      The page you're attempting to access has been moved. You will be redirected shortly.
    </h1>
    <p class="intro">Please update your bookmarks to the new location:</p>
    <a href="<%= redirect[:url] %>"><%= redirect[:url] %> </a>
</div>
