#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The string given to #compile and #route are matching patterns for
#   identifiers--not for paths. Therefore, you can’t match on extension.
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

#compile '/static/**/*' do
#end

#route '/static/**/*' do
#  # /static/foo.html → /foo.html
#  item.identifier.to_s.sub(/\A\/static/, '')
#end

compile '/CNAME.*' do
end

compile '/dstu2/**/*' do
  filter :erb
  filter :kramdown, :toc_levels => [2,3]
  layout '/dstu2_api.*'
  filter :relativize_paths, :type => :css
  filter :relativize_paths, :type => :html
end

compile '/faq.*' do
  filter :erb
  filter :kramdown, :toc_levels => [2]
  layout '/faq.*'
  filter :relativize_paths, :type => :css
  filter :relativize_paths, :type => :html
end

compile '/may2015/**/*' do
  filter :erb
  filter :kramdown, :toc_levels => [2]
  layout '/may2015_api.*'
  filter :relativize_paths, :type => :css
  filter :relativize_paths, :type => :html
end

compile '/**/*' do
  filter :erb
  filter :kramdown, :toc_levels => [2]
  layout  "/#{item[:layout].to_s}.*"
  filter :relativize_paths, :type => :css
  filter :relativize_paths, :type => :html
end

route '/static/**/*' do
  item.identifier.to_s[7..-2]
end

route '/CNAME.*' do
  '/CNAME'
end

route '/index.md' do
  '/index.html'
end

route '/**/*' do
  item.identifier.without_ext + '/index.html'
end

route '/**/index.*' do
  item.identifier.without_ext + '.html'
end

layout '/**/*', :erb
