<p>The FHIR Bulk Data Access specification provides organizations, providers and external clients the ability to access large volumes of core clinical data for a group of individuals. Common use cases include exporting data to populate a research database, a health registry or exporting clinical data to calculate quality measures for a patient population.</p>

<p>FHIR Bulk data requests are executed against an organizations database asynchronously. The amount of time an extraction takes to process will depend on the size of the population for which data was requested and the number of resources requested.</p>

