<div id="js-sidebar" class="sidebar-shell">
  <div class="expand-collapse">
    <a href="#" class="js-expand-all">+ Expand All</a>
    <a href="#" class="js-collapse-all hide">- Collapse All</a>
  </div>
  <div class="js-toggle-list sidebar-module expandable">
    <ul> 
	<li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/soarian/r4/">R4 Overview</a></h3>
        <ul class="js-guides">
          <li><a href="/authorization/">Authorization</a></li>
        </ul>
      </li> 
	  <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/soarian/r4/base/">Base</a></h3>
        <ul class="js-guides">
          <li class="subtopic"><a href="/soarian/r4/base/individuals/">Individuals</a></li>
          <li><a href="/soarian/r4/base/individuals/patient/">Patient</a></li>
          <li><a href="/soarian/r4/base/individuals/practitioner/">Practitioner</a></li>
          <li><a href="/soarian/r4/base/individuals/person/">Person</a></li>
          <li class="subtopic"><a href="/soarian/r4/base/entities/">Entities</a></li>
		  <li><a href="/soarian/r4/base/entities/organization/">Organization</a></li>
          <li><a href="/soarian/r4/base/entities/device/">Device</a></li>
          <li class="subtopic"><a href="/soarian/r4/base/management/">Management</a></li>
          <li><a href="/soarian/r4/base/management/encounter/">Encounter</a></li>
		</ul>
	  </li>
	  <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/soarian/r4/clinical/">Clinical</a></h3>
        <ul class="js-guides">
		  <li class="subtopic"><a href="/soarian/r4/clinical/care-provision/">Care Provision</a></li>
          <li><a href="/soarian/r4/clinical/care-provision/care-plan/">CarePlan</a></li>
        </ul>
      </li>
    </ul>
  </div> <!-- /sidebar-module -->
  <div class="sidebar-module notice">
    <p>This website is a <a href="https://github.com/cerner/fhir.cerner.com" target="_blank">public GitHub repository</a>. Please help us by forking the project and adding to it.</p>
  </div>
</div><!-- /sidebar-shell -->