<%= render '/head.*' %>

<body class="<%= @item[:version].to_s %>_api">
  <%= render '/header.*' %>

  <div class="sub-nav">
    <% if @item[:solution] == 'millennium' %>
      <h2>Millennium</h2>
      <ul>
        <li><a href="/millennium/overview/">Overview</a></li>
        <li><a href="/millennium/dstu2/">DSTU 2 Final (1.0.2)</a></li>
        <li><a href="/millennium/r4/">R4 First Normative Content (4.0.0)</a></li>
        <li><a href="/millennium/cds_hooks/">CDS Hooks</a></li>
        <li><a href="/millennium/faq/" class="nav-faq">FAQ</a></li>
        <li><a href="https://groups.google.com/d/forum/cerner-fhir-developers">Support</a></li>
      </ul>
    <% elsif @item[:solution] == 'soarian' %>
      <h2>Soarian</h2>
      <ul>
        <li><a href="/soarian/dstu2/" class="active">DSTU 2 Final (1.0.2)</a></li>
        <li><a href="https://groups.google.com/d/forum/cerner-fhir-developers">Support</a></li>
      </ul>
    <% end %>
  </div>

  <div id="wrapper">
    <div class="content">
      <%= yield %>
    </div>

    <%= render "/#{@item[:solution].to_s}/#{@item[:version].to_s}/sidebar.*" %>
  </div><!-- #wrapper -->

  <%= render '/footer.*' %>
</body>
</html>
