<div id="js-sidebar" class="sidebar-shell">
  <div class="js-toggle-list sidebar-module expandable">
    <ul>
      <li class="js-topic">
        <h3><a href="/authorization">Authorization Overview</a></h3>
      </li>
      <li class="js-topic">
        <h3><a href="/authorization/authorization-specification">Authorization Specification (1.0)</a></h3>
      </li>
      <li class="js-topic">
        <h3><a href="/authorization/openid-connect">OpenId Connect</a></h3>
      </li>
    </ul>
  </div> <!-- /sidebar-module -->
  <div class="sidebar-module notice">
    <p>This website is a <a href="https://github.com/cerner/fhir.cerner.com" target="_blank">public GitHub repository</a>. Please help us by forking the project and adding to it.</p>
  </div>
</div><!-- /sidebar-shell -->
