<h1 id="devices">Devices</h1>
<p>The Device resources are used to manage and track devices. Devices can be many things including implants, medical
  equipment, and software, and they can produce other resources (such as Observations).</p>

<p>Click <a href="https://hl7.org/fhir/r4/administration-module.html#dev-sub">here</a> to see the detailed categorization and full set of
  resources that fall into this category in the HL7<sup>®</sup> FHIR<sup>®</sup> Standard.</p>

<h2 id="implemented-resources">Implemented Resources</h2>