<h1 id="diagnostic">Diagnostic</h1>

<p>The Diagnostic resources are concerned with the process of observing, testing, and diagnosing a patient. Note, once a
  diagnosis is confirmed, it would be recorded in Condition so that it is part of the historical patient record.</p>

<p>The Observation resource is primarily concerned with recording discrete values, answers, and results such as clinical
  laboratory data and vital signs while the DiagnosticReport resource typically provides a textual set of information and
  interpretation after performing a diagnostic service such as a Radiology report or Pathology report.</p>

<p>Click <a href="https://hl7.org/fhir/r4/diagnostics-module.html">here</a> to see the detailed categorization and full set of
  resources that fall into this category in the HL7<sup>®</sup> FHIR<sup>®</sup> Standard.</p>

<h2 id="implemented-resources">Implemented Resources</h2>