<div id="js-sidebar" class="sidebar-shell">
  <div class="js-toggle-list sidebar-module expandable">
    <ul>
      <li class="js-topic">
        <h3><a href="/dstu2/">Overview</a></h3>
      </li>
      <li class="js-topic">
        <h3><a href="/dstu2/authorization">Authorization</a></h3>
      </li>
      <li class="js-topic">
        <h3><a href="/dstu2/binary">Binary</a></h3>
      </li>
      <li class="js-topic">
        <h3><a href="/dstu2/conformance/">Conformance Metadata</a></h3>
      </li>     
      <li class="js-topic">
        <h3><a href="/dstu2/allergy-intolerance/">AllergyIntolerance</a></h3>
      </li>
      <li class="js-topic">
          <h3><a href="/dstu2/appointment/">Appointment</a></h3>
      </li>          
      <li class="js-topic">
        <h3><a href="/dstu2/condition/">Condition</a></h3>
      </li>
      <li class="js-topic">
        <h3><a href="/dstu2/contract/">Contract</a></h3>
      </li>
      <li class="js-topic">
        <h3><a href="/dstu2/device/">Device</a></h3>
      </li>
      <li class="js-topic">
        <h3><a href="/dstu2/diagnostic-report/">DiagnosticReport</a></h3>
      </li>
      <li class="js-topic">
        <h3><a href="/dstu2/document-reference/">DocumentReference</a></h3>
      </li>            
      <li class="js-topic">
        <h3><a href="/dstu2/encounter/">Encounter</a></h3>
      </li>
      <li class="js-topic">
        <h3><a href="/dstu2/immunization/">Immunization</a></h3>
      </li>
      <li class="js-topic">
        <h3><a href="/dstu2/medication-order/">MedicationOrder</a></h3>
      </li>
      <li class="js-topic">
        <h3><a href="/dstu2/medication-statement/">MedicationStatement</a></h3>
      </li>
      <li class="js-topic">
        <h3><a href="/dstu2/observation/">Observation</a></h3>
      </li>
      <li class="js-topic">
        <h3><a href="/dstu2/patient/">Patient</a></h3>
      </li>
      <li class="js-topic">
        <h3><a href="/dstu2/person/">Person</a></h3>
      </li>
      <li class="js-topic">
        <h3><a href="/dstu2/related-person/">RelatedPerson</a></h3>
      </li>
    </ul>
  </div> <!-- /sidebar-module -->
  <div class="sidebar-module notice">
    <p>This website is a <a href="https://github.com/cerner/fhir.cerner.com" target="_blank">public GitHub repository</a>. Please help us by forking the project and adding to it.</p>
  </div>
</div><!-- /sidebar-shell -->
