<h1 id="financial">Financial</h1>

<p>The Financial resources are used to support the costing, financial transactions and billing which occur within a healthcare setting, as well as payments which occur between healthcare providers and patients and insurers.</p>

<% if @item[:version] == 'dstu2' %>
  <p>Click <a href="http://hl7.org/fhir/dstu2/resourceguide.html#3.1.2.1">here</a> to see the detailed categorization and full set of
    resources that fall into this category in the HL7<sup>®</sup> FHIR<sup>®</sup> Standard.</p>
<% end%>

<h2 id="implemented-resources">Implemented Resources</h2>
