  <div id="footer" >
    <div class="lower_footer">
      <ul class="footer-cell">
        <li><a href="https://groups.google.com/d/forum/cerner-fhir-developers">Contact</a></li>
      </ul>

      <ul class="footer-cell">
        <li><a href="http://engineering.cerner.com/">Blog</a></li>
        <li><a href="https://www.cerner.com/About_Cerner/">About</a></li>
      </ul>
    </div>

    <div class="wrapper">
      <p>Design &copy; <span class="js-year"></span> Copyright <span class="js-year"></span> Cerner Corporation </p>
    </div>

  </div><!-- /#footer -->
