<div id="footer" >

  <div id="top-footer">
    <div class="footer-wrapper">

      <ul id="footer-pages">
        <li><a href="https://groups.google.com/d/forum/cerner-fhir-developers">Contact</a></li>
        <li><a href="http://engineering.cerner.com/">Blog</a></li>
        <li><a href="https://www.cerner.com/About_Cerner/">About</a></li>
      </ul>

      <ul id="social-links">
        <li><a target="_blank" href="https://www.linkedin.com/company/cerner-corporation" class="linkedin">LinkedIn</a></li>
        <li><a target="_blank" href="https://twitter.com/cerner/" class="twitter">Twitter</a></li>
        <li><a target="_blank" href="https://www.facebook.com/Cerner/" class="facebook">Facebook</a></li>
        <li><a target="_blank" href="https://www.youtube.com/user/CernerCorporation" class="youtube">YouTube</a></li>
      </ul>

    </div><!-- /.footer-wrapper -->
  </div><!-- /#top-footer -->

  <div id="bottom-footer">
    <div class="footer-wrapper">

      <p>&copy; <span class="js-year"></span> Cerner Corporation.  All rights reserved.</p>

      <ul id="footer-legal">
        <li><a href="http://www.cerner.com/Terms_Of_Use/">Terms of Use</a></li>
        <li><a href="http://www.cerner.com/Privacy/">Privacy Policy</a></li>
        <li><a href="http://www.cerner.com/GlobalPrivacy/">Safe Harbor Guidelines</a></li>
      </ul>

    </div><!-- /.footer-wrapper -->
  </div><!-- /#bottom-footer -->

</div><!-- /#footer -->
