<h1 id="general-clinical">General Clinical</h1>

<p>General Clinical resources are used throughout the patient record to record summaries of status and health history.
  This includes recording information around family history, allergies, conditions, and procedures, among others.</p>

<% if @item[:version] == 'dstu2' %>
  <p>Click <a href="http://hl7.org/fhir/dstu2/resourceguide.html#3.1.2.1">here</a> to see the detailed categorization and full set of
    resources that fall into this category in the HL7<sup>®</sup> FHIR<sup>®</sup> Standard.</p>
<% end%>

<h2 id="implemented-resources">Implemented Resources</h2>
