<div id="header">

  <div id="top-header">
    <div class="header-wrapper">

      <a class="logo" href="/">Cerner Corporation</a>

      <nav id="navigation">
        <ul>
          <li><a target="_blank" href="http://code.cerner.com/learn">Learn</a></li>
          <li><a target="_blank" href="http://code.cerner.com/browse">Browse</a></li>
          <li><a target="_blank" href="http://code.cerner.com/build">Build</a></li>
          <li><a target="_blank" href="http://code.cerner.com/engage">Engage</a></li>
        </ul>  
      </nav>
    </div><!-- /.header-wrapper -->
  </div><!-- /#top-header -->

  <div id="bottom-header">
    <div class="header-wrapper">

      <ul class="pages">
        <li><a href="/millennium/dstu2/" class="nav-dstu2-api">Millennium</a></li>
        <li><a href="/authorization" class="nav-dstu2-api">Authorization</a></li>
      </ul>

    </div><!-- /.header-wrapper -->
  </div><!-- /#bottom-header -->

</div><!-- /#header -->
