<div id="header">

  <div id="top-header">
    <div class="header-wrapper">

      <a class="logo" href="/">Cerner Corporation</a>

      <nav id="navigation">
        <ul>
          <li><a target="_blank" href="http://code.cerner.com/learn">Learn</a></li>
          <li><a target="_blank" href="http://code.cerner.com/browse">Browse</a></li>
          <li><a target="_blank" href="http://code.cerner.com/build">Build</a></li>
          <li><a target="_blank" href="http://code.cerner.com/engage">Engage</a></li>
        </ul>  
      </nav>
      
    </div><!-- /.header-wrapper -->
  </div><!-- /#top-header -->

  <div id="bottom-header">
    <div class="header-wrapper">

      <ul class="pages">
        <li><a href="/may2015/" class="nav-may2015-api">DSTU 2 Ballot (0.5.0)</a></li>
        <li><a href="/dstu2/" class="nav-dstu2-api">DSTU 2 Final (1.0.2)</a></li>
        <li><a href="/faq/" class="nav-faq">FAQ</a></li>
        <li><a href="https://groups.google.com/d/forum/cerner-fhir-developers">Support</a></li>
      </ul>

    </div><!-- /.header-wrapper -->
  </div><!-- /#bottom-header -->

</div><!-- /#header -->
