<div class="full-width-divider">
    <ul class="wrapper highlights">
        <li class="highlight-module">
            <a href="http://www.hl7.org/implement/standards/fhir/summary.html"><span class="mega-octicon octicon-file-text"></span></a>
            <h2><a href="http://www.hl7.org/implement/standards/fhir/summary.html">Get Started</a></h2>
            <p>New to the FHIR API? Have a look at HL7's <a href="http://www.hl7.org/implement/standards/fhir/summary.html">Summary</a>
                and <a href="http://www.hl7.org/implement/standards/fhir/overview.html">Overview</a>.</p>
        </li>
        <li class="highlight-module">
            <a href="http://wiki.hl7.org/index.php?title=Open_Source_FHIR_implementations"><span class="mega-octicon octicon-code"></span></a>
            <h2><a href="http://wiki.hl7.org/index.php?title=Open_Source_FHIR_implementations">Libraries</a></h2>
            <p>Check out a number of <a href="http://wiki.hl7.org/index.php?title=Open_Source_FHIR_implementations">Open Source FHIR Implementations</a>.</p>
        </li>
        <li class="highlight-module">
            <a href="/faq/"><span class="mega-octicon octicon-question"></span></a>
            <h2><a href="/faq/">FAQ</a></h2>
            <p>Browse frequently asked questions to learn more about SMART on FHIR.</p>
        </li>
        <li class="highlight-module">
            <a href="https://groups.google.com/d/forum/cerner-fhir-developers"><span class="mega-octicon octicon-mail-read"></span></a>
            <h2><a href="https://groups.google.com/d/forum/cerner-fhir-developers">Support</a></h2>
            <p>Are you stuck? Talk to <a href="https://groups.google.com/d/forum/cerner-fhir-developers">Cerner support</a>.</p>
        </li>
    </ul>
</div>
