<div class="full-width-divider">
  <ul class="wrapper highlights">
    <li class="highlight-module">
      <span class="mega-octicon octicon-playback-play"></span>
      <h2><a href="http://www.hl7.org/implement/standards/fhir/summary.html">Get Started</a></h2>
      <p>New to the FHIR<sup>®</sup> standard? Take a look at Cerner's <a href="https://engineering.cerner.com/smart-on-fhir-tutorial/">SMART<sup>®</sup> on FHIR<sup>®</sup> tutorial</a>.</p>
      <p>Browse different <a href="http://www.hl7.org/fhir/directory.cfml">versions</a> of the HL7<sup>®</sup> FHIR<sup>®</sup> standard. Cerner implements the <a href="http://hl7.org/fhir/DSTU2/">DSTU 2</a> and <a href="http://hl7.org/fhir/R4/">R4</a> versions of the HL7<sup>®</sup> FHIR<sup>®</sup> standard.</p>
    </li>
    <li class="highlight-module">
      <span class="mega-octicon octicon-code"></span>
      <h2><a href="http://wiki.hl7.org/index.php?title=Open_Source_FHIR_implementations">Libraries</a></h2>
      <p>Check out a number of <a href="http://fhir.cerner.com/smart/#open-source-fhir-client-libraries">open source FHIR<sup>®</sup> implementations</a>.</p>
    </li>
    <li class="highlight-module">
      <span class="mega-octicon octicon-question"></span>
      <h2>Support</h2>
      <p>Stuck? Get help on the <a target="_blank" href="https://forums.oracle.com/ords/apexds/domain/open-developer-experience">Open Developer Experience forum</a>.</p>
    </li>
  </ul>
</div>
