<h1 id="infrastructure">Infrastructure</h1>

<p>Infrastructure resources are used or referenced by the base FHIR framework. They are largely concerned with defining the
  basic structure, data exchange, and information management aspects of the FHIR specification. This includes resources
  like OperationOutcome (used to communicate errors), the definition of Bundle and List, and resources related to document
  exchange and indexing.</p>

<p>Click <a href="http://hl7.org/fhir/dstu2/resourceguide.html#3.1.5">here</a> to see the detailed categorization and full set of
  resources that fall into this category in the HL7<sup>®</sup> FHIR<sup>®</sup> Standard.</p>

<h2 id="implemented-resources">Implemented Resources</h2>