<div id="js-sidebar" class="sidebar-shell">
  <div class="js-toggle-list sidebar-module expandable">
    <ul>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/millennium/r4/">R4 Overview</a></h3>
        <ul class="js-guides">
          <li><a href="/authorization/">Authorization</a></li>
          <li><a href="/millennium/r4/proprietary-codes-and-systems/">Proprietary Codes and Systems</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/millennium/r4/conformance/">Conformance</a></h3>
        <ul class="js-guides">
          <li><a href="/millennium/r4/conformance/capability-statement/">Capability Statement</a></li>
          <li><a href="/millennium/r4/conformance/structure-definition/">StructureDefinition</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/millennium/r4/care-provision/">Care Provision</a></h3>
        <ul class="js-guides">
          <li><a href="/millennium/r4/care-provision/care-plan/">CarePlan</a></li>
          <li><a href="/millennium/r4/care-provision/nutrition-order/">NutritionOrder</a></li>
          <li><a href="/millennium/r4/care-provision/service-request/">ServiceRequest</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/millennium/r4/diagnostic/">Diagnostic</a></h3>
        <ul class="js-guides">
          <li><a href="/millennium/r4/diagnostic/observation/">Observation</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/millennium/r4/devices/">Devices</a></h3>
        <ul class="js-guides">
          <li><a href="/millennium/r4/devices/device/">Device</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/millennium/r4/documents/">Documents</a></h3>
        <ul class="js-guides">
          <li><a href="/millennium/r4/documents/document-reference/">DocumentReference</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/millennium/r4/encounters/">Encounters</a></h3>
        <ul class="js-guides">
          <li><a href="/millennium/r4/encounters/encounter/">Encounter</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/millennium/r4/entities/">Entities</a></h3>
        <ul class="js-guides">
          <li><a href="/millennium/r4/entities/organization/">Organization</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/millennium/r4/financial/">Financial</a></h3>
        <ul class="js-guides">
          <li><a href="/millennium/r4/financial/account/">Account</a></li>
          <li><a href="/millennium/r4/financial/coverage/">Coverage</a></li>
          <li><a href="/millennium/r4/financial/financial-transaction/">FinancialTransaction</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/millennium/r4/general-clinical/">General Clinical</a></h3>
        <ul class="js-guides">
          <li><a href="/millennium/r4/general-clinical/allergy-intolerance/">AllergyIntolerance</a></li>
          <li><a href="/millennium/r4/general-clinical/condition/">Condition</a></li>
          <li><a href="/millennium/r4/general-clinical/procedure/">Procedure</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/millennium/r4/individuals/">Individuals</a></h3>
        <ul class="js-guides">
          <li><a href="/millennium/r4/individuals/patient/">Patient</a></li>
          <li><a href="/millennium/r4/individuals/person/">Person</a></li>
          <li><a href="/millennium/r4/individuals/practitioner/">Practitioner</a></li>
          <li><a href="/millennium/r4/individuals/related-person/">RelatedPerson</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/millennium/r4/medications/">Medications</a></h3>
        <ul class="js-guides">
          <li><a href="/millennium/r4/medications/immunization/">Immunization</a></li>
          <li><a href="/millennium/r4/medications/medication-request/">MedicationRequest</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/millennium/r4/other/">Other</a></h3>
        <ul class="js-guides">
          <li><a href="/millennium/r4/other/binary/">Binary</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/millennium/r4/scheduling/">Scheduling</a></h3>
        <ul class="js-guides">
          <li><a href="/millennium/r4/scheduling/appointment/">Appointment</a></li>
        </ul>
      </li>
    </ul>
  </div> <!-- /sidebar-module -->
  <div class="sidebar-module notice">
    <p>This website is a <a href="https://github.com/cerner/fhir.cerner.com" target="_blank">public GitHub repository</a>. Please help us by forking the project and adding to it.</p>
  </div>
</div><!-- /sidebar-shell -->
