<div id="millennium-table-div">
  <table id="millennium-diff-table">
    <thead>
      <tr>
        <th>DSTU 2 Resource</th>
        <th colspan="6">Supported Actions</th>
        <th>R4 Resource</th>
        <th colspan="6">Supported Actions</th>
      </tr>
    </thead>
  </table>
  <div id="table-key">
    <i class="octicon octicon-file-text"></i> = read <p>|</p>
    <i class="octicon octicon-search"></i> = search <p>|</p>
    <i class="octicon octicon-plus"></i> = create <p>|</p>
    <i class="octicon octicon-pencil"></i> = update <p>|</p>
    <i class="octicon octicon-diff"></i> = patch <p>|</p>
    <i class="octicon octicon-trashcan"></i> = delete <p>|</p> * = note
  </div>
</div>
<div id="diff-table-spinner" class="loading-spinner"><div></div><div></div><div></div><div></div></div>
<div id="table-failure-message">
  Failed to fetch resource information: If this issue persists, please post to our 
  <a href="https://groups.google.com/d/forum/cerner-fhir-developers">developer group</a>.
</div>
