<%= render '/head.*' %>

<body>
  <%= render '/header.*' %>

  <div class="sub-nav">
    <h2>Millennium</h2>
    <ul>
        <li><a href="/<%= @item[:solution] %>/overview/" class="active">Overview</a></li>
        <li><a href="/<%= @item[:solution] %>/dstu2/">DSTU 2 Final (1.0.2)</a></li>
        <li><a href="/<%= @item[:solution] %>/r4/">R4 First Normative Content (4.0.0)</a></li>
        <li><a href="/<%= @item[:solution] %>/faq/" class="nav-faq">FAQ</a></li>
      <li><a href="https://groups.google.com/d/forum/cerner-fhir-developers">Support</a></li>
    </ul>
  </div>

  <div id="wrapper">
    <div class="content">
      <%= yield %>
    </div>
    
    <%= render "/#{@item[:solution].to_s}_overview_sidebar.*" %>
  </div><!-- #wrapper -->

  <%= render '/footer.*' %>
</body>
</html>
