<div id="millennium-table-div">
  <table id="millennium-diff-table">
    <thead>
      <tr>
        <th>DSTU2 Resource</th>
        <th colspan="6">Supported Actions</th>
        <th>R4 Resource</th>
        <th colspan="6">Supported Actions</th>
      </tr>
    </thead>
  </table>
  <div id="table-key">
    <i class="octicon octicon-file-text"></i>
     = read &nbsp;|&nbsp; 
    <i class="octicon octicon-search"></i>
     = search &nbsp;|&nbsp; 
    <i class="octicon octicon-plus"></i>
     = create &nbsp;|&nbsp;
    <i class="octicon octicon-pencil"></i>
     = update &nbsp;|&nbsp;
    <i class="octicon octicon-tools"></i>
     = patch &nbsp;|&nbsp;
    <i class="octicon octicon-trashcan"></i>
     = delete &nbsp;|&nbsp; * = note
  </div>
</div>
<div id="diff-table-spinner" class="loading-spinner"><div></div><div></div><div></div><div></div></div>
<div id="table-failure-message">
  Failed to fetch resource information: To manually determine what resources and actions are supported by our DSTU2 and R4 
  implementations you can browse our documentation and compare between each version. You can also compare the Conformance 
  (DSTU2) and CapabilityStatement (R4) for the list of supported resources and actions.
</div>
