<h1 id="scheduling">Scheduling</h1>

<p>The Scheduling resources are used to manage and schedule care given in the healthcare setting. Though this does include
  things like patient appointments, it also includes the resources used to schedule resources such as rooms and devices.</p>

<% if @item[:version] == 'dstu2' %>
  <p>Click <a href="http://hl7.org/fhir/dstu2/resourceguide.html#3.1.4.2">here</a> to see the detailed categorization and full set of
    resources that fall into this category in the HL7<sup>®</sup> FHIR<sup>®</sup> Standard.</p>
<% end%>

<h2 id="implemented-resources">Implemented Resources</h2>
