<div id="soarian-table-div">
  <table id="soarian-diff-table">
    <thead>
      <tr>
        <th>DSTU 2 Resource</th>
        <th colspan="6">Supported Actions</th>
        <th>R4 Resource</th>
        <th colspan="6">Supported Actions</th>
      </tr>
      <tr>
        <td>AllergyIntolerance</td>
        <td colspan="6">
         <i class="octicon octicon-search"></i>
        </td>
        <td>AllergyIntolerance</td>
        <td colspan="6">
         <i class="octicon octicon-file-text"></i>
         <i class="octicon octicon-search"></i>
        </td>
      </tr>
      <tr>
        <td></td>
        <td colspan="6"></td>
        <td>Binary</td>
        <td colspan="6">
         <i class="octicon octicon-file-text"></i>
        </td>
      </tr>
      <tr>
        <td>Conformance</td>
        <td colspan="6">
         <i class="octicon octicon-search"></i>
        </td>
        <td>CapabilityStatement</td>
        <td colspan="6">
          <i class="octicon octicon-search"></i>
        </td>
      </tr>
      <tr>
        <td>CarePlan</td>
        <td colspan="6">
         <i class="octicon octicon-search"></i>
        </td>
        <td>CarePlan</td>
        <td colspan="6">
         <i class="octicon octicon-file-text"></i>
         <i class="octicon octicon-search"></i>
        </td>
      </tr>
      <tr>
        <td></td>
        <td colspan="6"></td>
        <td>CareTeam</td>
        <td colspan="6">
         <i class="octicon octicon-file-text"></i>
         <i class="octicon octicon-search"></i>
        </td>
      </tr>
      <tr>
        <td>Condition</td>
        <td colspan="6">
         <i class="octicon octicon-search"></i>
        </td>
        <td>Condition</td>
        <td colspan="6">
         <i class="octicon octicon-file-text"></i>
         <i class="octicon octicon-search"></i>
        </td>
      </tr>
      <tr>
        <td>Device</td>
        <td colspan="6">
         <i class="octicon octicon-search"></i>
        </td>
        <td>Device</td>
        <td colspan="6">
         <i class="octicon octicon-file-text"></i>
         <i class="octicon octicon-search"></i>
        </td>
      </tr>
      <tr>
        <td>DiagnosticReport</td>
        <td colspan="6">
         <i class="octicon octicon-search"></i>
        </td>
        <td>DiagnosticReport</td>
        <td colspan="6">
         <i class="octicon octicon-file-text"></i>
         <i class="octicon octicon-search"></i>
        </td>
      </tr>
      <tr>
        <td>DocumentReference</td>
        <td colspan="6">
         <i class="octicon octicon-search"></i>
        </td>
        <td>DocumentReference</td>
        <td colspan="6">
         <i class="octicon octicon-file-text"></i>
         <i class="octicon octicon-search"></i>
        </td>
      </tr>
      <tr>
        <td></td>
        <td colspan="6"></td>
        <td>Encounter</td>
        <td colspan="6">
         <i class="octicon octicon-file-text"></i>
         <i class="octicon octicon-search"></i>
        </td>
      </tr>
      <tr>
        <td></td>
        <td colspan="6"></td>
        <td>Goal</td>
        <td colspan="6">
         <i class="octicon octicon-file-text"></i>
         <i class="octicon octicon-search"></i>
        </td>
      </tr>
      <tr>
        <td>Immunization</td>
        <td colspan="6">
         <i class="octicon octicon-search"></i>
        </td>
        <td>Immunization</td>
        <td colspan="6">
         <i class="octicon octicon-file-text"></i>
         <i class="octicon octicon-search"></i>
        </td>
      </tr>
      <tr>
        <td></td>
        <td colspan="6"></td>
        <td>MedicationRequest</td>
        <td colspan="6">
         <i class="octicon octicon-file-text"></i>
         <i class="octicon octicon-search"></i>
        </td>
      </tr>
      <tr>
        <td>MedicationStatement</td>
        <td colspan="6">
         <i class="octicon octicon-search"></i>
        </td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Observation</td>
        <td colspan="6">
         <i class="octicon octicon-search"></i>
        </td>
        <td>Observation</td>
        <td colspan="6">
         <i class="octicon octicon-file-text"></i>
         <i class="octicon octicon-search"></i>
        </td>
      </tr>
      <tr>
        <td></td>
        <td colspan="6"></td>
        <td>Organization</td>
        <td colspan="6">
         <i class="octicon octicon-file-text"></i>
		 <i class="octicon octicon-search"></i>
       </td>
      </tr>
      <tr>
        <td>Patient</td>
        <td colspan="6">
         <i class="octicon octicon-search"></i>
        </td>
        <td>Patient</td>
        <td colspan="6">
         <i class="octicon octicon-file-text"></i>
         <i class="octicon octicon-search"></i>
        </td>
      </tr>
      <tr>
        <td></td>
        <td colspan="6"></td>
        <td>Practitioner</td>
        <td colspan="6">
         <i class="octicon octicon-file-text"></i>
		 <i class="octicon octicon-search"></i>
        </td>
      </tr>
      <tr>
        <td>Procedure</td>
        <td colspan="6">
         <i class="octicon octicon-search"></i>
        </td>
        <td>Procedure</td>
        <td colspan="6">
         <i class="octicon octicon-file-text"></i>
         <i class="octicon octicon-search"></i>
        </td>		
      </tr>
	   <tr>
        <td></td>
        <td colspan="6"></td>
        <td>Provenance</td>
        <td colspan="6">
         <i class="octicon octicon-file-text"></i>
        </td>
      </tr>
    </thead>
  </table>
  <div id="table-key">
    <i class="octicon octicon-file-text"></i> = read <p>|</p>
    <i class="octicon octicon-search"></i> = search <p>|</p>   
  </div>
</div>
