<%= render '/soarian-head.*' %>

<body>
  <%= render '/header.*' %>

  <div class="sub-nav">
    <h2>Soarian</h2>
    <ul>
        <li><a href="/soarian/overview/" class="active">Overview</a></li>
        <li><a href="/soarian/dstu2/">DSTU 2 Final (1.0.2)</a></li>
        <li><a href="/soarian/r4/">R4 First Normative Content (4.0.1)</a></li>
        <li><a target="_blank" href="https://forums.oracle.com/ords/apexds/domain/open-developer-experience">Forum</a></li>
    </ul>
  </div>

  <div id="wrapper">
    <div class="content">
      <%= yield %>
    </div>
    
    <%= render "/#{@item[:solution].to_s}/overview_sidebar.*" %>
  </div><!-- #wrapper -->

  <%= render '/footer.*' %>
</body>
</html>
